/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}

.list-btn--style {
  font-family: "Syne";
  color: #1d6154;
  border-radius: 40px;
  background-color: white;
  padding: 5px 20px;
}
.list-btn__selected {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.hide {
  display: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: rgb(143, 27, 27);
}
.red--letters {
  color: rgb(143, 27, 27);
  font-size: large;
}

.edition {
  background-color: black;
  color: white;
  width: 100%;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.modifier {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.modifier i {
  margin-left: 10px;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
input[type="submit"]:hover {
  background-color: #0e2f28;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#body__login {
  display: grid;
  grid-template-rows: 7em 40em 4em;
}
#container__connexion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container__connexion h2 {
  margin-bottom: 30px;
}

#container__connexion form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container__connexion div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  margin: 15px 0;
}

#container__connexion input {
  width: 379px;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px #00000017;
}
#container__connexion a {
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: white;
  height: 450px;
  width: 400px;
}

.modal-wrapper h3 {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 25px;
}

.btnModifier {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.gallery-modal-supprime {
  display: grid;
  grid-template-columns: 57px 57px 57px 57px 57px;
  width: 70%;
  max-height: 100%;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 40px;
}
.icon-modal {
  display: flex;
  justify-content: flex-end;
  width: inherit;
}
.gallery-modal-supprime img {
  margin: 0px 10px 15px 0px;
  margin-bottom: 15px;
  width: 50px;
  z-index: 1;
}

.gallery-modal-supprime figure {
  position: relative;
}

.btn__div {
  height: 20%;
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#btn-modal {
  height: 5vh;
  width: 23vw;
}

.fa-trash-can {
  position: absolute;
  border: 2px solid black;
  background-color: black;
  color: white;
  top: 3px;
  right: 10px;
  z-index: 2;
  font-size: 0.5em;
}
.icons-modal {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.icons-modal .fa-arrow-left {
  font-size: 1.3em;
}

.ajout .gallery-modal-ajout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}
.ajout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#input-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: inherit;
  height: 18vh;
  background-color: #e8f1f6;
  margin-bottom: 20px;
}
#input-img p {
  font-size: 10px;
  font-weight: 400;
  color: #444444;
}

#input-img label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd6dc;
  border: 1px solid #cbd6dc;
  border-radius: 50px;
  width: 173px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #306685;
}

#input-img [type="file"] {
  display: none;
}
#input-img .fa-image {
  font-size: 50px;
  color: #b9c5cc;
}
[name="input-titre"] {
  border: none;
  height: 5vh;
  box-shadow: 0px 4px 14px 0px #00000017;
  margin-bottom: 20px;
}

.input-wrapper {
  width: inherit;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 10px;
}
.input-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
}
.input-div label {
  font-size: smaller;
}

.input-div select {
  background-color: white;
  border: none;
  height: 5vh;
  width: inherit;
  box-shadow: 0px 4px 14px 0px #00000017;
  margin-bottom: 20px;
}

#btn-modal-valider {
  width: 237px;
  height: 36px;
  font-size: small;
}
.gray {
  border: 1px solid #a7a7a7;
  background-color: #a7a7a7;
  color: white;
}
